.banner img{
    height: 800px;
}
.new{
    margin: 400px;
}
.BannerBtn{
    width: 150px;
    padding: 10px;
    color: rgba(255,255,255,0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 700%;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
}